.portfolio{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.project {
    border: black 1px solid;
    width: 75%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project img{
    height: 200px;
    border-radius: 5px;
}