.bio-pic img{
    height: 300px;
    border-radius: 5px;
    border: black solid 2px;
}

div p {
    display: flex;
    flex-direction: row;
    padding: 40px;
    line-height: 1.5;
    align-items: center;
    text-align: left;
}